!!!5
html
	head
		title Your Recommendations
		link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/screen.css')
		script(type='text/javascript')
			window.userid = !{userid}
			window.user = !{user}
		script(type='text/javascript', src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(type='text/javascript', src='http://underscorejs.org/underscore-min.js')
		script(type='text/javascript', src='http://backbonejs.org/backbone-min.js')
		script(type='text/javascript', src='main.js')
	body
		nav 
			ul
				li
					a(href='/news?id=#{userid}') News Feed
				li
					a(href='/preferences?id=#{userid}') Preferences
		ul.word-cloud